.Page.temperature {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Page .temperature .div {
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.Page .temperature .overlap {
    height: 268px;
    left: 47px;
    position: absolute;
    top: 739px;
    width: 1362px;
}

.Page .temperature .Day-forecast {
    height: 268px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1362px;
}

.Page .temperature .currentbox {
    background-color: #93cbf359;
    border-radius: 12px;
    box-shadow: 0px 4px 4px #00000040;
    background-size: 100% 100%;
    left: 1px;
    top: 80px;
    height: 188px;
    width: 1353px;
    position: absolute;
}

.Page .temperature .Low {
    color: #ffffff;
    font-family: "Space Mono", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 157px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 119px;
    white-space: nowrap;
}

.Page .temperature .break {
    color: #ffffff;
    font-family: "Space Mono", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 119px;
    white-space: nowrap;
}

.Page .temperature .High {
    color: #ffffff;
    font-family: "Space Mono", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 119px;
    white-space: nowrap;
}

.Page .temperature .Today {
    color: #ffffff;
    font-family: "Space Mono", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    width: 127px;
}

.Page .temperature .Suggestionicon {
    height: 50px ;
    left: 175px ;
    position: absolute ;
    top: 36px ;
    width: 50px ;
}

.Page .temperature .day7 {
    height: 67px;
    left: 1206px;
    position: absolute;
    top: 0;
    width: 150px;
}

.Page .temperature .DaysBackground {
    background-color: #93cbf359;
    border-radius: 12px;
    box-shadow: 0px 4px 4px #00000040;
    height: 67px;
    position: relative;
    width: 148px;
}

.Page .temperature .forecasttext {
    color: #ffffff;
    font-family: "Space Mono", Helvetica;
    font-size: 26px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.Page .temperature .Day7icon {
    height: 31px ;
    left: 110px ;
    position: absolute ;
    top: 16px ;
    width: 31px ;
}

.Page .temperature .day6 {
    height: 67px;
    left: 1005px;
    position: absolute;
    top: 0;
    width: 150px;
}


.Page .temperature .Day6icon {
    height: 31px ;
    left: 102px ;
    position: absolute ;
    top: 16px ;
    width: 31px ;
}

.Page .temperature .day5 {
    height: 67px;
    left: 804px;
    position: absolute;
    top: 0;
    width: 150px;
}

.Page .temperature .Day5icon {
    height: 31px ;
    left: 97px ;
    position: absolute ;
    top: 16px ;
    width: 31px ;
}


.Page .temperature .day4 {
    height: 67px;
    left: 603px;
    position: absolute;
    top: 0;
    width: 150px;
}

.Page .temperature .Day4icon {
    height: 31px ;
    left: 105px ;
    position: absolute ;
    top: 16px ;
    width: 31px ;
}



.Page .temperature .day3 {
    height: 67px;
    left: 402px;
    position: absolute;
    top: 0;
    width: 150px;
}

.Page .temperature .Day3icon {
    height: 31px ;
    left: 107px ;
    position: absolute ;
    top: 16px ;
    width: 31px ;
}



.Page .temperature .day2 {
    height: 67px;
    left: 201px;
    position: absolute;
    top: 0;
    width: 150px;
}

.Page .temperature .Day2icon {
    height: 31px ;
    left: 104px ;
    position: absolute ;
    top: 16px ;
    width: 31px ;
}



.Page .temperature .today {
    height: 67px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}

.Page .temperature .HoverBackground {
    background-color: #9c84fc59;
    border-radius: 12px;
    box-shadow: 0px 4px 4px #00000040;
    height: 67px;
    position: relative;
    width: 148px;
}

.Page .temperature .Todayicon {
    background-image: url("../Image/SUN.png");
    height: 31px ;
    left: 102px ;
    position: absolute ;
    top: 16px ;
    width: 29px ;
}

.Page .temperature .suggestions {
    height: 151px;
    left: 563px;
    position: absolute;
    top: 93px;
    width: 774px;
}

.Page .temperature .risk-of-heat-stroke {
    color: #ffffff;
    font-family: "Space Mono", Helvetica;
    font-size: 26px;
    font-weight: 400;
    left: 345px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 425px;
}

.Page .temperature .Suggestiontext {
    color: #ffffff;
    font-family: "Space Mono", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
    width: 304px;
}

.Page .temperature .body {
    background-color: #93caf359;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
    height: 498px;
    left: 38px;
    position: absolute;
    top: 217px;
    width: 1363px;
}
