.card-container {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: "Space Mono",Helvetica;
}
.main_info{
    padding: 2rem;
}
.pollutant-level{
    font-size: 2.5rem;
    font-weight: bold;
}
.top-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap : 1rem;
}
.pollutants{
    display: flex;
    gap: 3rem;
}
.infos{
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.infos img{
    width: 6rem;
    height: 6rem;
}
.data{
    font-size: 1.5rem;
}

